<a href="https://colab.research.google.com/github/YassineAchouri-1/E-com-Company-Sales-Analysis/blob/main/Sales_Data_Exploration_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Import Libraries & Database

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/YassineAchouri-1/E-com-Company-Sales-Analysis/raw/refs/heads/main/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [ ]:
%sqlcmd tables

+------------------+
|       Name       |
+------------------+
| currencyexchange |
|     customer     |
|      sales       |
|       date       |
|     product      |
|      store       |
+------------------+

In [ ]:
%%sql
CREATE OR REPLACE VIEW public.cohort_analysis
AS WITH customer_revenue AS (
         SELECT s.customerkey,
            s.orderdate,
            sum(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
            count(s.orderkey) AS num_orders,
            max(c.countryfull) AS countryfull,
            max(c.age) AS age,
            max(c.givenname) AS givenname,
            max(c.surname) AS surname
           FROM sales s
             JOIN customer c ON c.customerkey = s.customerkey
          GROUP BY s.customerkey, s.orderdate
        )
 SELECT
    customerkey,
    orderdate,
    total_net_revenue,
    num_orders,
    countryfull,
    age,
    concat(TRIM(BOTH FROM givenname), ' ', TRIM(BOTH FROM surname)) AS cleaned_name,
    min(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
    EXTRACT(year FROM min(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Execute the query and export to CSV in one go
customer_segmentation_data = %sql WITH customer_ltv AS ( \
    SELECT \
        c.customerkey, \
        CONCAT(COALESCE(c.givenname, ''), ' ', COALESCE(c.surname, '')) AS cleaned_name, \
        c.city, \
        c.country, \
        c.continent, \
        c.gender, \
        c.age, \
        c.occupation, \
        SUM(s.netprice * s.quantity) AS total_ltv, \
        COUNT(DISTINCT s.orderkey) AS total_orders, \
        AVG(s.netprice * s.quantity) AS avg_order_value, \
        MIN(s.orderdate) AS first_purchase_date, \
        MAX(s.orderdate) AS last_purchase_date, \
        COUNT(DISTINCT s.productkey) AS unique_products_purchased \
    FROM customer c \
    INNER JOIN sales s ON c.customerkey = s.customerkey \
    GROUP BY \
        c.customerkey, \
        c.givenname, \
        c.surname, \
        c.city, \
        c.country, \
        c.continent, \
        c.gender, \
        c.age, \
        c.occupation \
), customer_segments AS ( \
    SELECT \
        PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY total_ltv) AS ltv_25th_percentile, \
        PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY total_ltv) AS ltv_75th_percentile \
    FROM customer_ltv  \
), detailed_segments AS ( \
    SELECT \
        c.*, \
        cs.ltv_25th_percentile, \
        cs.ltv_75th_percentile, \
        CASE \
            WHEN c.total_ltv < cs.ltv_25th_percentile THEN '1 - Low-Value' \
            WHEN c.total_ltv <= cs.ltv_75th_percentile THEN '2 - Mid-Value' \
            ELSE '3 - High-Value' \
        END AS customer_segment \
    FROM customer_ltv c, \
        customer_segments cs \
) \
SELECT \
    customerkey, \
    cleaned_name, \
    city, \
    country, \
    continent, \
    gender, \
    age, \
    occupation, \
    total_ltv, \
    total_orders, \
    avg_order_value, \
    first_purchase_date, \
    last_purchase_date, \
    unique_products_purchased, \
    customer_segment, \
    ltv_25th_percentile, \
    ltv_75th_percentile \
FROM detailed_segments \
ORDER BY total_ltv DESC;

# Export to CSV
customer_segmentation_data.to_csv('customer_segmentation_analysis.csv', index=False)

# Display summary
print(f"✅ Data exported successfully to 'customer_segmentation_analysis.csv'")
print(f"📊 Dataset shape: {customer_segmentation_data.shape}")
print(f"📋 Columns: {list(customer_segmentation_data.columns)}")
print(f"\n🎯 Customer Segment Distribution:")
print(customer_segmentation_data['customer_segment'].value_counts())

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

✅ Data exported successfully to 'customer_segmentation_analysis.csv'
📊 Dataset shape: (49487, 17)
📋 Columns: ['customerkey', 'cleaned_name', 'city', 'country', 'continent', 'gender', 'age', 'occupation', 'total_ltv', 'total_orders', 'avg_order_value', 'first_purchase_date', 'last_purchase_date', 'unique_products_purchased', 'customer_segment', 'ltv_25th_percentile', 'ltv_75th_percentile']

🎯 Customer Segment Distribution:
customer_segment
2 - Mid-Value     24743
3 - High-Value    12372
1 - Low-Value     12372
Name: count, dtype: int64

In [ ]:
from google.colab import files

# Download the file directly
files.download('customer_segmentation_analysis.csv')

In [ ]:
# Execute the query and export to CSV in one go
cohort_revenue_data = %sql WITH first_purchases AS ( \
    SELECT \
        s.customerkey, \
        MIN(s.orderdate) AS first_purchase_date \
    FROM sales s \
    GROUP BY s.customerkey \
), cohort_analysis AS ( \
    SELECT \
        s.customerkey, \
        s.orderdate, \
        s.netprice * s.quantity AS total_net_revenue, \
        fp.first_purchase_date, \
        EXTRACT(YEAR FROM fp.first_purchase_date) AS cohort_year \
    FROM sales s \
    INNER JOIN first_purchases fp ON s.customerkey = fp.customerkey \
) \
SELECT \
    cohort_year, \
    SUM(total_net_revenue) AS total_revenue, \
    COUNT(DISTINCT customerkey) AS total_customers, \
    CAST(SUM(total_net_revenue) / COUNT(DISTINCT customerkey) AS DECIMAL(10,2)) AS customer_revenue \
FROM cohort_analysis \
WHERE orderdate = first_purchase_date \
GROUP BY cohort_year \
ORDER BY cohort_year;

# Export to CSV
cohort_revenue_data.to_csv('cohort_revenue_analysis.csv', index=False)

# Download the file
from google.colab import files
files.download('cohort_revenue_analysis.csv')

# Display summary
print(f"✅ Data exported and downloaded successfully!")
print(f"📊 Dataset shape: {cohort_revenue_data.shape}")
print(f"📋 Columns: {list(cohort_revenue_data.columns)}")
print(f"\n🎯 Cohort Revenue Summary:")
print(cohort_revenue_data)

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

✅ Data exported and downloaded successfully!
📊 Dataset shape: (10, 4)
📋 Columns: ['cohort_year', 'total_revenue', 'total_customers', 'customer_revenue']

🎯 Cohort Revenue Summary:
  cohort_year  total_revenue  total_customers customer_revenue
0        2015     7431423.87             2825          2630.59
1        2016     9927186.19             3397          2922.34
2        2017    11903717.96             4068          2926.18
3        2018    19919032.49             7446          2675.13
4        2019    21963943.98             7755          2832.23
5        2020     6902752.92             3031          2277.38
6        2021    11942554.94             4663          2561.13
7        2022    20773314.28             9010          2305.58
8        2023    12256690.90             5890          2080.93
9        2024     2651332.93             1402          1891.11

In [ ]:
# Execute the query and export to CSV in one go
churn_analysis_data = %sql WITH first_purchases AS ( \
    SELECT \
        s.customerkey, \
        MIN(s.orderdate) AS first_purchase_date \
    FROM sales s \
    GROUP BY s.customerkey \
), cohort_analysis AS ( \
    SELECT \
        s.customerkey, \
        CONCAT(COALESCE(c.givenname, ''), ' ', COALESCE(c.surname, '')) AS cleaned_name, \
        s.orderdate, \
        s.netprice * s.quantity AS total_net_revenue, \
        fp.first_purchase_date, \
        EXTRACT(YEAR FROM fp.first_purchase_date) AS cohort_year \
    FROM sales s \
    INNER JOIN customer c ON s.customerkey = c.customerkey \
    INNER JOIN first_purchases fp ON s.customerkey = fp.customerkey \
), customer_last_purchase AS ( \
    SELECT \
        customerkey, \
        cleaned_name, \
        orderdate, \
        ROW_NUMBER() OVER (PARTITION BY customerkey ORDER BY orderdate DESC) AS rn, \
        first_purchase_date, \
        cohort_year \
    FROM cohort_analysis \
), churned_customers AS ( \
    SELECT \
        customerkey, \
        cleaned_name, \
        orderdate AS last_purchase_date, \
        CASE \
            WHEN orderdate < (SELECT MAX(orderdate) FROM sales) - INTERVAL '6 months' THEN 'Churned' \
            ELSE 'Active' \
        END AS customer_status, \
        cohort_year \
    FROM customer_last_purchase  \
    WHERE rn = 1 \
        AND first_purchase_date < (SELECT MAX(orderdate) FROM sales) - INTERVAL '6 months' \
) \
SELECT \
    cohort_year, \
    customer_status, \
    COUNT(customerkey) AS num_customers, \
    SUM(COUNT(customerkey)) OVER(PARTITION BY cohort_year) AS total_customers, \
    CAST(COUNT(customerkey)::FLOAT / SUM(COUNT(customerkey)) OVER(PARTITION BY cohort_year) AS DECIMAL(5,2)) AS status_percentage \
FROM churned_customers  \
GROUP BY cohort_year, customer_status \
ORDER BY cohort_year, customer_status;

# Export to CSV
churn_analysis_data.to_csv('churn_analysis_by_cohort.csv', index=False)

# Download the file
files.download('churn_analysis_by_cohort.csv')

# Display summary
print(f"✅ Data exported and downloaded successfully!")
print(f"📊 Dataset shape: {churn_analysis_data.shape}")
print(f"📋 Columns: {list(churn_analysis_data.columns)}")
print(f"\n🎯 Churn Analysis Summary:")
print(churn_analysis_data)

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

18 rows affected.

✅ Data exported and downloaded successfully!
📊 Dataset shape: (18, 5)
📋 Columns: ['cohort_year', 'customer_status', 'num_customers', 'total_customers', 'status_percentage']

🎯 Churn Analysis Summary:
   cohort_year customer_status  num_customers total_customers  \
0         2015          Active            237            2825
1         2015         Churned           2588            2825
2         2016          Active            311            3397
3         2016         Churned           3086            3397
4         2017          Active            385            4068
5         2017         Churned           3683            4068
6         2018          Active            704            7446
7         2018         Churned           6742            7446
8         2019          Active            687            7755
9         2019         Churned           7068            7755
10        2020          Active            283            3031
11        2020         Churned           2748            3031
12        2021          Active            442            4663
13        2021         Churned           4221            4663
14        2022          Active            937            9010
15        2022         Churned           8073            9010
16        2023          Active            455            4718
17        2023         Churned           4263            4718

   status_percentage
0               0.08
1               0.92
2               0.09
3               0.91
4               0.09
5               0.91
6               0.09
7               0.91
8               0.09
9               0.91
10              0.09
11              0.91
12              0.09
13              0.91
14              0.10
15              0.90
16              0.10
17              0.90